
<h1>コンテスト一覧</h1>
<%= ENV['GOOGLE_APP_ID'] %>
<h3><%= link_to "コンテスト新規作成", :controller => "contests", :action => "new" %></h3>
<div class="row">
  <% @contests.each do |contest| %>
    <div class="col s12 m12">
      <%= link_to contest do %>
        <div class="card-panel orange lighten-5">
          <h3><%= contest.title %></h3>
            <%= contest.start_time.to_datetime.strftime("%m/%d %H:%M") %> - 
            <%= contest.end_time.to_datetime.strftime("%m/%d %H:%M") %> 
          <div class="tags">
            <div class="chip <%= contest_status_tag(contest) %> lighten-4">
              <%= contest_status(contest) %>
            </div>
          </div>
          

          <span>
            <%= contest.detail %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
