<h1>コンテスト新規作成</h1>
<%= form_for(@contest) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :detail %>
  <%= f.text_field :detail %>
  <%= f.label :start_time %>
  <%= f.hidden_field :admin_user_id, :value => current_user.id %>
  <%# f.hidden_field :start_time, :value => "20171212111100" %>
  <%# f.text_field :start_time %> 
  <%# f.hidden_field :end_time, :value => "20171212111200" %>
  <%# f.text_field :end_time %> 

  <label>開始時間の入力</label>              
  <input type="datetime-local" name="start_time" class="datepicker">   
  <label>終了時間の入力</label>              
  <input type="datetime-local" name="end_time" class="datepicker">
   
  <%= f.submit '登録' %>
<% end %>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
