<h1><%= @contest.title %></h1>

<% if Time.now < @contest.start_time %>
時間の編集可能 <%= @contest.start_time %>
<% end %>


<% if @contest.end_time < Time.now or Time.now < @contest.start_time %>
  <h2>投票不可能<br>結果の表示</h2>
<div class="row">
  <% @products.each do |pro| %>
    <div class="col s4 m3 result-card">
      <div class="card">
        <div class="card-image">
          <%=image_tag asset_path(pro.image) %>
          <span class="card-title"><%= pro.title %></span>
        </div>
        <div class="card-content">
          <p><%= pro.detail %></p>
        </div>
        <div class="card-action">
          <a href="<%= pro.link %>"><%= pro.link %></a>
        </div>
      </div>
      <!-- <% if @contest.end_time > Time.now %> -->
        <div class="result">
          43
        </div>
      <!-- <% else %> -->
        <div class="result">
          ??
        </div>
      <!-- <% end %> -->
    </div>

  <% end %>
</div>
<% else %>
<h2>投票可能</h2>
<%= link_to "投票する", new_contest_product_path(params[:id]) %>
<div class="row">
  <% @products.each do |pro| %>
    <div class="col s4 m3 result-card">
      <div class="card">
        <div class="card-image">
          <%= image_tag asset_path(pro.image) %>
          <span class="card-title"><%= pro.title %></span>
        </div>
        <div class="card-content">
          <p><%= pro.detail %></p>
        </div>
        <div class="card-action">
          <a href="<%= pro.link %>"><%= pro.link %></a>
        </div>
      </div>
      <!-- <% if @contest.end_time > Time.now %> -->
        <div class="result">
          43
        </div>
      <!-- <% else %> -->
        <div class="result">
          ??
        </div>
      <!-- <% end %> -->
    </div>
  <% end %>
</div>
<% end %>
