<h1>
  <%= @contest.title %>
</h1>
<% if Time.now > @contest.start_time and Time.now > @contest.end_time %>
  <% '開始前' %>時間の変更 
  <%= form_for(@contest) do |f| %>
    <label>日付の入力</label>
    <input type="date" name="start_date" class="datepicker">
    <label>時間の入力</label>
    <input type="time" name="start_time" class="datepicker">
    <%= f.submit '開始時間の変更' %>
  <% end %>
  <%= link_to "作品の投稿", "/contests/#{@contest.id}/products/new" %>
  <h2>投票不可能</h2>
  <div class="row">
    <% @products.each_with_index do |pro,i| %>
      <% if i % 4 == 3%>
        <div class="row">
      <% end %>
        <div class="col s4 m3 result-card">
          <div class="card">
            <div class="card-image">
              <% if pro.image == nil %>
                <%= image_tag asset_path('http://smooch.jp/html/noimage.jpg') %>
              <% else %>
                <%= image_tag asset_path(pro.image), :onerror => "this.src='http://smooch.jp/html/noimage.jpg';" %>
              <% end %>
              <span class="card-title">
                <%= pro.title %>
              </span>
            </div>
            <div class="card-content">
              <p>
                <%= pro.detail %>
              </p>
            </div>
            <div class="card-action">
              <a href="<%= pro.link %>">
                リンク
              </a>
            </div>
          </div>
        </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif Time.now > @contest.start_time and Time.now < @contest.end_time %>
  <%= '投票中' %>
  <h2>投票可能</h2>
  <div class="time-container">
  <h3>
    <div class="timer" id="year"></div>
    <div class="timer" id="month"></div>
    <div class="timer" id="day"></div>
    <div class="timer" id="hour"></div>
    <div class="timer" id="min"></div>
    <div class="timer" id="sec"></div>
  </h3>
  <div>
  <br /><br />
  <% if @vote != 0 %>
    <div class="vote_title">あと</div>
    <div class="vote_count">
      <%= @vote %>
    </div>
    <div class="vote_title">票投稿可能</div>
    <br />
    <div class="select">なし</div>
    <div class="select">なし</div>
    <div class="select">なし</div>
    <br />
    <%= form_tag("/contests/#{@contest.id}/vote/new", :method => :get) do %>
      <input type=hidden name="selected_id" class="selected_id" value=""/>
      <%= submit_tag "作品の登録する" %>
    <% end %>
  <% end %>
  <div class="row">
    <% @products.each_with_index do |pro,i| %>
      <% if i % 4 == 3%>
        <div class="row">
      <% end %>
        <div class="col s4 m3 result-card">
          <div class="card">
            <div class="card-image">
              <% if pro.image == nil %>
                <%= image_tag asset_path('http://smooch.jp/html/noimage.jpg') %>
              <% else %>
                <%= image_tag asset_path(pro.image), :onerror => "this.src='http://smooch.jp/html/noimage.jpg';" %>
              <% end %>
              <span class="card-title">
                <%= pro.title %>
              </span>
            </div>
            <div class="card-content">
              <p>
                <%= pro.detail %>
              </p>
            </div>
            <div class="card-action">
              <a href="<%= pro.link %>">
                リンク
              </a>
            </div>
          </div>
        </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <% if @products.length != 0 %>
      <%= bar_chart @chart %>
    <% else %>データがありません 
      <%= bar_chart [['no data', 0], ['is data', 30]] %>
    <% end %>
  <% end %>
</div>
<script>

<% t = @contest.end_time %>
console.log("called!!")
end = new Date(<%= t.year %>, <%= t.month %>, <%= t.day %>, <%= t.hour %>, <%= t.min %> )
increaseTime = function(){
  now = new Date()
  console.log("end time >>")
  console.log({end: end})
  console.log("now time >>")
  console.log({now:now})
  var calc = new Date(end-now);
  console.log(calc.getUTCFullYear() - 1970 + "年");
  $('div#year')[0].textContent = calc.getUTCFullYear() - 1970 + 'y'
  console.log(calc.getUTCMonth() + "カ月");
  $('div#month')[0].textContent = calc.getUTCMonth() + 'm'
  console.log(calc.getUTCDate() - 1 + "日");
  $('div#day')[0].textContent = calc.getUTCDate() + 'd'
  console.log(calc.getUTCHours() + "時間");
  $('div#hour')[0].textContent = calc.getUTCHours() + 'h'
  console.log(calc.getUTCMinutes() + "分");
  $('div#min')[0].textContent = calc.getUTCMinutes() + 'm'
  console.log(calc.getUTCSeconds() + "秒");
  $('div#sec')[0].textContent = calc.getUTCSeconds() + 's'
}
increaseTime()
setInterval(increaseTime, 1000);

// 指定したindexの番号を消します
clean_select = function(index) {
  for(var i = 0 ; i < 3 ; i ++){
    if($('div.select')[i].textContent == index + 1){
      $('div.select')[i].textContent = 'なし'
    }
  }
}

// 
pack_select = function() {
  var now, str = '';
  for(var i = 0, now = 0 ; i < 3 ; i ++){
    if($('div.select')[i].textContent != 'なし'){
      $('div.select')[now].textContent = $('div.select')[i].textContent
      str += $('div.select')[i].textContent + ', '
      now ++
    }      
  }
  console.log(str)

  $('input.selected_id')[0].value = str
  console.log($('input.selected_id')[0].value)
  for( ; now < 3 ; now ++){
    $('div.select')[now].textContent = 'なし'
  }
}

$('div.card-image').on('click', function(){
  point = Number($('div.vote_count')[0].textContent)
  var index = $('div.card-image').index(this);
  if(!$(this).hasClass('active')){ // 選択する
    console.log([point, index])
    $('div.select')[3-point].textContent = index + 1
    if(point != 0){
      $(this).parent().css("border", "1px solid #ff0000")
      $(this).toggleClass('active')
      point --
    }
  } else { // 選択を外す
    clean_select(index)
    $(this).parent().css("border", "none")
    $(this).toggleClass('active')
    point ++
  }
  pack_select()
  console.log(index + 'th item clicked!');
  console.log(point)
  $('div.vote_count')[0].textContent = point
});

   

    $(function() {
    $('div.card-image').error(function() {
      $(this).attr({
        src: '/assets/default.png'
      });
    });
  });
</script>
<style>
div.vote_count, .vote_title, .select{
  float:left;

}
div.timer{
  float: left;
}
</style>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>