
<%= contest.start_time.strftime("%m/%d %H:%M") %> - 
<%= contest.end_time.strftime("%m/%d %H:%M") %> 
<h2>投票不可能</h2>

<%= '終了' %>
<% if products.length != 0 %>
  <%= bar_chart chart %>
<% else %>
  データがありません 
<% end %>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  <div class="collection">
<% @products.sort{|a,b| b.votes.count <=> a.votes.count}.each do |pro|  %>
    <a href="<%= result_contest_product_path(pro.contest_id, pro.id) %>" class="collection-item"><span class="badge"><%= pro.votes.count %></span><%= pro.title %></a>
<% end %>
  </div>