<% if current_user != nil && current_user.id == admin_id %>
    <%= render partial: "contests/partials/change_time" %>
  <% end %>
  <%= link_to "作品の投稿", "/contests/#{@contest.id}/products/new" %>
  <h2>投票不可能</h2>
  <div class="row">
    <% @products.each_with_index do |pro,i| %>
      <% if i % 4 == 3%>
        <div class="row">
      <% end %>
        <div class="col s4 m3 result-card">
          <div class="card">
            <div class="card-image">
              <% if pro.image == nil %>
                <%= image_tag asset_path('http://smooch.jp/html/noimage.jpg') %>
              <% else %>
                <%= image_tag asset_path(pro.image), :onerror => "this.src='http://smooch.jp/html/noimage.jpg';" %>
              <% end %>
              <span class="card-title">
                <%= pro.title %>
              </span>
            </div>
            <div class="card-content">
              <p>
                <%= pro.detail %>
              </p>
            </div>
            <div class="card-action">
              <a href="<%= pro.link %>">
                リンク
              </a>
            </div>
          </div>
        </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>