<% '開始前' %>
<h2>投票不可能</h2>
時間の変更 
  <%= form_for(@contest) do |f| %>
    <label>日付の入力</label>
    <input type="date" name="start_date" class="datepicker">
    <label>時間の入力</label>
    <input type="time" name="start_time" class="datepicker">
    <%= f.submit '開始時間の変更' %>
  <% end %>
  <%= link_to "作品の投稿", "/contests/#{@contest.id}/products/new" %>
  <div class="row">
    <% @products.each_with_index do |pro,i| %>
      <% if i % 4 == 3%>
        <div class="row">
      <% end %>
        <div class="col s4 m3 result-card">
          <div class="card">
            <div class="card-image">
              <% if pro.image == nil %>
                <%= image_tag asset_path('http://smooch.jp/html/noimage.jpg') %>
              <% else %>
                <%= image_tag asset_path(pro.image), :onerror => "this.src='http://smooch.jp/html/noimage.jpg';" %>
              <% end %>
              <span class="card-title">
                <%= pro.title %>
              </span>
            </div>
            <div class="card-content">
              <p>
                <%= pro.detail %>
              </p>
            </div>
            <div class="card-action">
              <a href="<%= pro.link %>">
                リンク
              </a>
            </div>
          </div>
        </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
  </div>