<%= '投票中' %>
<%= contest.start_time.strftime("%m/%d %H:%M") %> - 
<%= contest.end_time.strftime("%m/%d %H:%M") %> 

  <% if @vote > 0 %>
    <h2>投票可能</h2>
  <% elsif @user.nil? %>
    <h2>投票不可能 : ユーザーログインしてください</h2>
  <% else %>
    <h2>投票不可能</h2>
  <% end %>
  <div class="time-container">
  <h3>
    <div class="card-list">
      <div class="cell" id="title"></div>
      <div class="cell" id="year"></div>
      <div class="cell" id="month"></div>
      <div class="cell" id="day"></div>
    </div>
  </h3>
  <div class="card-list">
    <div class="_card cell">hour</div>
    <div class="comma"></div>
    <div class="_card cell">min</div>
    <div class="comma"></div>
    <div class="_card cell">sec</div>
  </div>
  <div class="card-list">
    <div class="_card cell" id="hour">00</div>
    <div class="comma">:</div>
    <div class="_card cell" id="min">00</div>
    <div class="comma">:</div>
    <div class="_card cell" id="sec">00</div>
  </div>

  <div>
  <br /><br />
  <% if @vote > 0 %>
    一人1票投票可能です.
    <%= form_tag("/contests/#{@contest.id}/vote/new", :method => :get) do %>
      <input type=hidden name="selected_id" class="selected_id" value=""/>
      <%= submit_tag "投票する" %>
    <% end %>
  <% end %>
  
  <div class="hide-on-small-only"><!-- # for pc or tablet -->
  <%= render partial: "contests/partials/pc_products", locals: { products: products } %>
  pc
  </div>
  <div class="hide-on-med-and-up"><!-- # for smart phone -->
  <%= render partial: "contests/partials/smartphone_products", locals: { products: products } %>
  phone
  </div>

  <%= render partial: "contests/partials/timer" %>
  <% if @vote > 0 %>
    <%= render partial: "contests/partials/vote_js" %>
  <% end %>