<%= '投票中' %>

  <% if @vote >= 0 %>
    <h2>投票可能</h2>
  <% else %>
    <h2>投票不可能</h2>
  <% end %>
  <div class="time-container">
  <h3>
    <div class="card-list">
      <div class="cell" id="title"></div>
      <div class="cell" id="year"></div>
      <div class="cell" id="month"></div>
      <div class="cell" id="day"></div>
    </div>
  </h3>
  <div class="card-list">
    <div class="_card cell">hour</div>
    <div class="comma"></div>
    <div class="_card cell">min</div>
    <div class="comma"></div>
    <div class="_card cell">sec</div>
  </div>
  <div class="card-list">
    <div class="_card cell" id="hour">00</div>
    <div class="comma">:</div>
    <div class="_card cell" id="min">00</div>
    <div class="comma">:</div>
    <div class="_card cell" id="sec">00</div>
  </div>

  <div>
  <br /><br />
  <% if @vote >= 0 %>
    <div class="vote_title">あと</div>
    <div class="vote_count">
      <%= @vote %>
    </div>
    <div class="vote_title">票投稿可能</div>
    <br />
    <div class="card-list">
      <div class="_card cell select">なし</div>
      <div class="_card cell select">なし</div>
      <div class="_card cell select">なし</div>
    </div>
    <br />
    <%= form_tag("/contests/#{@contest.id}/vote/new", :method => :get) do %>
      <input type=hidden name="selected_id" class="selected_id" value=""/>
      <%= submit_tag "投票する" %>
    <% end %>
  <% end %>
  <div class="row">
    <% products.each_with_index do |pro,i| %>
      <% if i % 4 == 3%>
        <div class="row">
      <% end %>
        <div class="col s4 m3 result-card">
          <div class="card">
            <div class="card-image">
              <% if pro.image == nil %>
                <%= image_tag asset_path('http://smooch.jp/html/noimage.jpg') %>
              <% else %>
                <%= image_tag asset_path(pro.image), :onerror => "this.src='http://smooch.jp/html/noimage.jpg';" %>
              <% end %>
            </div>
            <div class="card-content">
            
              <span class="card-title">
                <%= pro.title %>
              </span>
              <p>
                <%= pro.detail %>
              </p>
            </div>
            <div class="card-action">
              <a href="<%= pro.link %>">
                リンク
              </a>
            </div>
          </div>
        </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
