投票期間: <%= contest.start_time.to_datetime.strftime("%Y/%-m/%-d %-H:%M") %> -
<%= contest.end_time.to_datetime.strftime("%Y/%-m/%-d %-H:%M") %>

  <% if @vote > 0 %>
    <h2>投票してください</h2>
  <% elsif @user.nil? %>
    <h2>投票にはログインが必要です</h2>
  <% else %>
    <h2>ご投票ありがとうございました</h2>
  <% end %>
  <div class="time-container">
  <h3>
    <div class="card-list">
      <div class="cell" id="title"></div>
      <div class="cell" id="year"></div>
      <div class="cell" id="month"></div>
      <div class="cell" id="day"></div>
    </div>
  </h3>
  <div class="card-list">
    <div class="_card cell">hour</div>
    <div class="comma"></div>
    <div class="_card cell">min</div>
    <div class="comma"></div>
    <div class="_card cell">sec</div>
  </div>
  <div class="card-list">
    <div class="_card cell" id="hour">00</div>
    <div class="comma">:</div>
    <div class="_card cell" id="min">00</div>
    <div class="comma">:</div>
    <div class="_card cell" id="sec">00</div>
  </div>

  <div>
  <br /><br />
  <% if @vote > 0 %>
    好きな作品を1つ選び、「投票コメント入力へ」ボタンを押してください。
    <%= form_tag("/contests/#{@contest.id}/vote/new", :method => :get) do %>
      <input type=hidden name="selected_id" class="selected_id" value=""/>
      <%= submit_tag "投票コメント入力へ..." %>
    <% end %>
  <% end %>
  
  <div class="hide-on-small-only"><!-- # for pc or tablet -->
  <%= render partial: "contests/partials/pc_products", locals: { products: products } %>
  </div>
  <div class="hide-on-med-and-up"><!-- # for smart phone -->
  <%= render partial: "contests/partials/smartphone_products", locals: { products: products } %>
  </div>

  <%= render partial: "contests/partials/timer" %>
  <% if @vote > 0 %>
    <%= render partial: "contests/partials/vote_js" %>
  <% end %>
