
<%#materializeを使ってカード型にしてその下フォームをくっつける感じかな？%>

<% i = 0 %>
  <%= form_for(@vote,:url => {:controller => :votes, :action => :create}) do |f| %>
    <% i+= 1 %>
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <%= image_tag asset_path(@product.image), :onerror => "this.src='http://smooch.jp/html/noimage.jpg'" %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="card-title"><%= @product.title %></div>
              <p><%= @product.detail %></p>
              <% if ! @product.link.nil? %>
              <div class="card-action">
                リンク: <%= link_to @product.link, @product.link %>
              </div>
              <% end %>
              <%= fields_for "vote[]", @vote do |fi| %>
                <%= fi.hidden_field :contest_id, :value => @product.contest_id %>
                <%= fi.hidden_field :product_id, :value => @product.id %>
                <%= fi.hidden_field :user_id, :value => @user.id %>
                <div class="row">
                  <div class="input-field col s12">
                    <%= fi.text_area :reason, :class => "materialize-textarea" %>
                    <label for="textarea1">この作品を選んだ理由、コメントなど（任意入力）</label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <div>
    <div class="center">
    <%= f.submit "投票！", :class => "btn waves-effect orange lighten-2" %>
    </div>
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
